<?xml version="1.0" ?>
<launch>

  <!-- Load robot description-->
  <param name="robot_description" command="$(find xacro)/xacro $(find butler_rod)/urdf/butler_rod.urdf.xacro" />  
 
  <!-- Spawn Robot State Publisher-->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <!-- Starting RViz with saved config-->
  <arg name="rviz_config" value="-d $(find butler_rod_bringup)/config/moveit.rviz" /> 
  <node name="rviz" pkg="rviz" type="rviz" respawn="false" args="$(arg rviz_config)" output="screen"/>
  
  <!-- Run MoveGroup for real robot (ur5/butler)-->
  <include file="$(find butler_rod_moveit)/launch/move_group.launch">
    <arg name="allow_trajectory_execution" value="true"/>
    <arg name="moveit_controller_manager" value="ur5" />
    <arg name="fake_execution_type" value="false"/>
    <arg name="info" value="true"/>
    <arg name="debug" value="false"/>
    <arg name="pipeline" value="ompl"/>
    <arg name="load_robot_description" value="true"/>
  </include>
  
  <!--RUN custom ur_driver--> 
  <include file="$(find ur_robot_driver)/launch/ur5_bringup.launch">
    <arg name="robot_ip" default="10.0.0.21" />
    <arg name="kinematics_config" value="$(find butler_rod_bringup)/config/ur5.yaml" />
    <arg name="headless_mode" default="true" />  
  </include>




  
</launch>
