<?xml version="1.0" ?>
<launch>

  <!-- Load robot description-->
  <param name="robot_description" command="$(find xacro)/xacro $(find butler_rod)/urdf/butler_rod.urdf.xacro" />  
  
  <!-- Spawn Joint State Publisher GUI-->
  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
  
  <!-- Spawn Robot State Publisher-->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <!-- Starting RViz with saved config-->
  <arg name="rviz_config" value="-d $(find butler_rod)/config/default.rviz" /> 
  <node name="rviz" pkg="rviz" type="rviz" respawn="false" args="$(arg rviz_config)" output="screen"/>
  
</launch>
