<?xml version="1.0"?>

<robot name="butler_rod" 
  xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- [BEGIN] === Include section === -->  
  <xacro:include filename="$(find ur_description)/urdf/ur5.xacro" />
  <xacro:include filename="$(find butler_rod)/urdf/box.urdf" />
  <xacro:include filename="$(find gripper_2F_85_description)/urdf/gripper_halterung.xacro" />
  
  <!-- Include D435 + args -->
  <xacro:arg name="use_nominal_extrinsics" default="true"/>
  <xacro:arg name="add_plug" default="true" />
  <xacro:arg name="use_mesh" default="true" />
  <xacro:include filename="$(find realsense2_description)/urdf/_d435.urdf.xacro" />
  
  <link name="d435_base_link" />
  <xacro:sensor_d435 parent="d435_base_link" use_nominal_extrinsics="$(arg use_nominal_extrinsics)" add_plug="$(arg add_plug)" use_mesh="$(arg use_mesh)">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:sensor_d435>
  
    <!-- Fixed Joint for ur5 tool0 to fixture for d435--> 
  <joint name="FixedLinkBox" type="fixed">
    <origin xyz="0.23 0 1" rpy="0 0 0"/>
    <parent link="dummy_box"/>
    <child link="base_link"/>
  </joint>
    
  <!-- Fixed Joint for ur5 tool0 to fixture for d435--> 
  <joint name="FixedLinkFixture" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 1.57079632679"/>
    <parent link="tool0"/>
    <child link="kamerahalterung"/>
  </joint>
  
  <!-- Fixed Joint for fixture to d435 camera -->
  <joint name="FixedLinkCamera" type="fixed">
    <origin xyz="0.0125 0 0.01" rpy="0 -1.57079632679 0"/>
    <parent link="Kamera_Basis_KS"/>
    <child link="d435_base_link"/>
  </joint>
  
  
</robot>
